*{
    margin:0;
    padding:0;
}
header{
    text-align:center;
    background-color:rgba(130, 24, 24, 0.941);
    padding:30px;
}
h1{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:15px;
}
header p{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:10px;
}
nav{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(180, 57, 57);
}
nav a{
    text-decoration:none;
    color:white;
    padding:10px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
nav a:hover{
    background: #a52a2a;
    border-radius: 5px;
}
main{
    padding:25px;
    margin:10px;
}
h2{
    margin-bottom:20px;
}
main p{
    margin-bottom:25px;
}
img{
    max-width:100%;
    border-radius:10px;
}
footer{
    text-align:center;
    padding:10px;
    color:white;
    background-color:rgb(180, 57, 57);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:10px;
}
button{
    width:80px;
    padding:8px 12px;
    background-color: #a52a2a;
    color:white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius:5px;
    border:none;
    cursor:pointer;
}
input,textarea{
    padding:10px;
}