<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>TastyBite Restaurant</h1>
        <p>delicious food,cozy ambience</p>
    </header>
    <nav>
        <a href="{{url_for('Home')}}">Home</a>
        <a href="{{url_for('Menu')}}">Menu</a>
        <a href="{{url_for('Contact')}}l">Contact</a>
    </nav>
    <main>
        <h2>Welcome to TastyBite</h2>
        <p>We serve the best continental and Indian cusine in town.Come down with us or order online!</p>
        <img src="restaurant.jpg" alt="Restaurant Banner">
    </main>
    <footer>&copy 2025 TastyBite.All rights reserved.</footer>
</body>
</html>