<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>Our Menu</h1>
    </header>
    <nav>
        <a href="{{url_for('Home')}}">Home</a>
        <a href="{{url_for('Menu')}}">Menu</a>
        <a href="{{url_for('Contact')}}l">Contact</a>
    </nav>
    <main>
        <h2>Butter Chicken</h2>
        <p>Creamy and flavourful indian classic-Rs.299</p>
        <h2>Margherita Pizza</h2>
        <p>Wood fried pizza with basil and mozzarella-Rs.399</p>
        <h2>Veggie Pasta</h2>
        <p>Penne tossed in herbed tomato sauce-Rs.249</p>
        <h2>Chocolate Lave Cake</h2>
        <p>Warm cake with  molten chocolate center-Rs.149</p>
    </main>
    <footer>&copy 2025 TastyBite.All rights reserved.</footer>
</body>
</html>